@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Ubuntu:wght@400;500&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* min-height: 100vh;
    max-width: 100%; */
    min-height: 1000vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

/* =====================================
            navbar menu
========================================== */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    opacity: 0.8 5;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    box-shadow: 0px 2px 15px 3px #aaa;
    /* border: 3px solid black; */
}

.navbar img.logo {
    /* border: 2px solid black; */
    width: 250px;
    height: 60px;
}

.navbar-menu {
    /* width: 100%; */
    /* border: 3px solid purple; */
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 60px;
}

/* .navbar-menu .navbar-menu__btn {
    padding-bottom: 5px;
    border:  2px solid yellow;
} */

span.line {
    display: block;
    background-color: #000;
    width: 0%;
    height: 2px;
    transition: all 0.35s ease-in;
}

.navbar-menu .navbar-menu__btn:hover span.line {
    width: 85%;
}

.navbar-menu .navbar-menu__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid salmon; */
    height: 60px;
}

.navbar-menu .navbar-menu__btn a {
    color: #000;
    display: inline-block;
    font-size: 0.9rem;
    margin-right: 1.5em;
    padding-bottom: 5px;
    font-weight: 500;
}

.navbar-menu .navbar-menu__btn:last-child a {
    margin-right: 0;
}

.navbar-menu .navbar-menu__btn:last-child span.line {
    width: 0%;
}

.navbar-menu .navbar-menu__btn:last-child:hover span.line {
    width: 100%;
}

li.dropdown-menu:hover .dropdown {
    /* display: block; */
    transform: translateY(0px);
    transition: transform 0.65s ease;
}

.dropdown {
    /* border: 2px solid black; */
    position: relative;
    /* display: none; */
    transform: translateY(-300px);
}

/* .navbar-menu:hover .dropdown {
    transform: translateY(0);
} */

ul.services-list:hover {
    transform: translateY(0);
}

ul.services-list {
    /* border: 2px solid green; */
    position: absolute;
    z-index: 9999999;
    top: 18px;
    left: -220px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 180px;
    padding: 10px 10px 0;
    border-radius:  0 0 6px 6px;
    background-color: #0A1D56;
    opacity: 1;

}

ul.services-list li.services-list-option a {
    /* border:  2px solid purple; */
    width: 100%;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #fff;
    margin-right: 0;
    text-align: justify;
    margin-bottom: 10px;
}

button.menu-lines{
    position: relative;
    width: 40px;
    display: none;
    /* height: 50px; */
    border: none;
    outline: none;
    background: none;
    appearance: none;
    cursor:  pointer;
    transition: 2s;
    z-index: 99999999;
}

.menu-lines .menu-line,
.menu-lines::before,
.menu-lines::after {
    content: "";
    display: none;
    width: 100%;
    height: 5px;
    background: #000;
    margin: 6px 0;
    border-radius: 20px;
    transition: transform 0.65s ease;
}

button.menu-lines.is-active::before {
    width: 80%;
    transform: rotate(-45deg) translate(-9px, 6px);
    transition: all 0.65s ease;
}

button.menu-lines.is-active::after {
    width: 80%;
    transform: rotate(45deg) translate(-9px, -7px);
    transition: all 0.65s ease;
}

button.menu-lines.is-active .menu-line {
    opacity: 0;
}

.navbar-menu-mobile {
    /* display: none; */
    /* border: 3px solid brown; */
    position: fixed;
    right: -1000px;
    top: 60px;
    padding: 20px 0;
    background: #0A1D56;
    border-radius: 0 0 5px 5px;
    /* max-height: 100vh; */
}

button.menu-lines.is-active + .navbar-menu-mobile {
    right: 0;
    transition: right 0.65s ease;
}

.navbar-menu-mobile__btn {
    margin-bottom: 12px;
    /* border: 1px solid tomato; */
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-menu-mobile__btn a {
    font-size: 0.9rem;
    font-weight: 500;
    /* border: 2px solid lightgoldenrodyellow; */
}

/* li.sidebar-menu {
    border: 2px solid salmon;
} */

.sidebar-menu .sidebar {
    /* border: 3px solid lightblue; */
    position: relative;
    opacity: 0;
}

ul.services-list-mob {
    /* border: 4px solid gray; */
    position: absolute;
    top: -40px;
    right: 154px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 120px;
    background: #0A1D56;
    padding: 10px;
    border-radius: 5px 0 5px 5px;
}

ul.services-list-mob .services-list-option-mob {
    /* border: 2px solid bisque; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 5px;
}

li.sidebar-menu:hover .sidebar {
    /* display: block; */
    opacity: 1;
    /* transform: translateY(0px); */
    transition: opacity 0.65s ease;
}


/* =====================================
            hero section slider
========================================== */

.slider {
    /* border:  5px solid black; */
    /* max-width: 100vh; */
    /* min-height: 100vh; */
    /* overflow: hidden; */
    /* max-width: 100%; */
    width: 100%;
    max-height: 100vh;
    /* overflow-y: hidden; */
    position: relative;
    /* background-color: #b1ec60; */
}

.mySlider {
    position: relative;
    /* z-index: 1; */
    max-width: 100%;
    max-height: 100vh;
    display: none;
    overflow: hidden;
    
}

.mySlider::after {
    content: "";
    /* border: 2px solid slateblue; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#181818d6 10%,#ffffff0c 90%);
    /* animation: movePic 2s ease-in-out 1s infinite alternate; */
}

.mySlider img {
    /* z-index: -1; */
    max-width: 100%;
    height: 100%;
    transform: scale(1.2, 1.2);
    animation: movePic 20s ease-in-out 3s infinite alternate;
    /* transition: all 5s ease-in; */
}

.mySlider.active {
    display: block;
    /* animation: movePic 1s ease-in-out alternate; */
    /* animation: movePic 2s ease-in-out 3s infinite alternate; */
}

.mySlider .content {
    /* background-color: pink; */
    /* border:  4px solid green; */
    position: absolute;
    top: 35%;
    left: 10%;
    /* transform: translateX(-150%); */
    /* transform: translate(0, -50%); */
    /* font-size: 20px; */
    color: white;
    width: 35%;
    z-index: 99;
    /* animation: fade 3s ease-in; */
    /* opacity: 0; */
    /* background   */
    /* line-height: 3.5rem; */
    /* box-shadow: 0 0px 10px #ffffff17; */
    letter-spacing: 1px;
}

.mySlider .content .text-1 {
    /* border: 1px solid tomato; */
    font-size: 2.5rem;
    line-height: 1.4em;
    animation: textMove 1.5s ease-in;
    transition: transform 3s ease-in;
    padding-bottom: 0.25em;
    text-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
   
}

.mySlider .content .text-1 span.highlight-text {
    color: #f4ab01;
}

.mySlider .content .text-2 {
    /* border: 1px solid tomato; */
    animation: textMove 2.5s ease-in 5ms;
    transition: transform 3s ease-in;
    font-size: 2rem;
    padding-bottom: 0.3em;
    background: linear-gradient(to right, #f32170,
					#ff6b08, #cf23cf, #eedd44);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    background-clip: text;
    font-weight: 500;
    /* line-height: 1.4em; */
}
.mySlider .content .text-3 {
    /* border: 1px solid tomato; */
    font-size: 1rem;
    line-height: 1.5em;
    animation: textMove 3.5s ease-in 50ms;
    transition: transform 3s ease-in;
}

.sliderBtn-left,
.sliderBtn-right {
    /* border:  2px solid salmon; */
    position: absolute;
    top: 50%;
    font-size: 4rem;
    transform: translate(0, -50%);
    color: #fff;
    cursor: pointer;
    /* padding: 0 0.5em 0; */
}

.sliderBtn-right {
    right: 0;
}

.sliderBtn-left:hover,
.sliderBtn-right:hover {
    color: #b1ec60;
    transition: color 0.1s ease-in-out;

}

.clip-effect {
    /* width: 100%;
    height: 100%; */
    /* background: #b9ef6e; */
    transition: clip-path 3s ease-in-out;
    animation: clipEffect 2s ease-in-out;
}

/* ___________card_______________ */

.contain {
    /* border:  2px solid purple; */
    padding: 5rem 0;
    
    /* background: linear-gradient(120deg, rgb(123, 186, 119) 0%, rgba(124,226,96,1) 35%, rgba(202,247,140,1) 100%); */
    /* background: -webkit-linear-gradient(#eee, #333); */
}

.wrapper {
    /* border: 5px solid tomato; */
    margin:  0rem auto;
    max-width: 1100px;
    width: 100%;
    position: relative;
    padding: 0 22px;
}

.wrapper span.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    line-height: 50px;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    cursor: pointer;
}

.wrapper span:first-child {
    left: -0px;
}

.wrapper span:last-child {
    right: -0px;
}
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
    /* padding: 20px; */
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
  }

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 430px;
    /* border:  2px solid green; */
    border-radius: 8px;
    list-style: none;
    cursor: pointer;
    background-image: linear-gradient(180deg,#bfff39,#a8ff35 70%);
}

.card h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.56rem;
    margin: 0.5em 0;
    text-align: center;
    /* text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25); */
}

.card span {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #000;
    text-align:  justify;
    line-height: 24px;
    padding: 0 13px 0px;
    /* color: #fff; */
}

.card .img {
    /* border: 2px solid white; */
    width: 100%;
    text-align: center;
    background-color: rgba(166, 166, 166, 0.4);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.23);
    border-radius: 8px 8px 30px 0;
    padding: 6px 0;
}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 1.75px solid black;
    clip-path: circle(50% at 50% 50%);
}

@keyframes textMove {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes movePic {
    from {
        transform: scale(1.2, 1.2)
    }
    to {
        transform: scale(1,1)
    }
}

@keyframes clipEffect {
    from {
        clip-path: stroke-box circle(25% at 0% 0%);
    }    
    to {
        clip-path: circle(150% at 50% 50%)
    }
}

@media screen and (max-width: 990px) {
    .navbar-menu {
        display: none;
    }

    button.menu-lines {
        display: block;
    }

    .menu-lines .menu-line,
    .menu-lines::before,
    .menu-lines::after {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

    .mySlider img {
        width: 100%;
        height: 100vh;
    }

    .mySlider .content {
        /* border: 2px solid brown; */
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .mySlider .content .text-1 {
        font-size: 2rem;
    }

    .mySlider .content .text-2 {
        font-size: 1.7rem;
    }

    .mySlider .content .text-3 {
        font-size: 0.9rem;
    }

    .sliderBtn-left,
    .sliderBtn-right {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%
    }

    .mySlider img {
        max-width: 100%;
        height: 70vh;
    }

    .mySlider .content {
        /* border: 2px solid brown; */
        width: 70%;
    }

    .mySlider .content .text-1 {
        font-size: 1.3rem;
    }

    .mySlider .content .text-2 {
        font-size: 1.1rem;
    }

    .mySlider .content .text-3 {
        font-size: 0.7rem;
    }
} 

@media screen and (max-width: 500px) {
    ul.services-list-mob {
        grid-template-rows: repeat(12, 1fr);
        grid-auto-columns: 150px;
    }
}
