*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    min-height: 100vh;
    max-width: 100%;
} */

.slider {
    /* border:  5px solid black; */
    /* max-width: 100vh; */
    /* min-height: 100vh; */
    /* overflow: hidden; */
    /* max-width: 100%; */
    width: 100%;
    max-height: 100vh;
    /* overflow-y: hidden; */
    position: relative;
}

.mySlider {
    position: relative;
    /* z-index: 1; */
    width: 100%;
    max-height: 100vh;
    display: none;
    overflow: hidden;
    
}

.mySlider::after {
    content: "";
    /* border: 2px solid slateblue; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* animation: movePic 2s ease-in-out 1s infinite alternate; */
}

.mySlider img {
    /* z-index: -1; */
    max-width: 100%;
    height: 100%;
    transform: scale(1.2, 1.2);
    animation: movePic 20s ease-in-out 3s infinite alternate;
    /* transition: all 5s ease-in; */
}

.mySlider.active {
    display: block;
    /* animation: movePic 1s ease-in-out alternate; */
    /* animation: movePic 2s ease-in-out 3s infinite alternate; */
}

.mySlider .content {
    /* background-color: pink; */
    /* border:  4px solid green; */
    position: absolute;
    top: 35%;
    left: 10%;
    /* transform: translateX(-150%); */
    /* transform: translate(0, -50%); */
    font-size: 20px;
    color: white;
    width: 35%;
    z-index: 99;
    /* animation: fade 3s ease-in; */
    /* opacity: 0; */
}

.mySlider .content .text-1 {
    /* border: 1px solid tomato; */
    animation: textMove 1.5s ease-in;
}
.mySlider .content .text-2 {
    /* border: 1px solid tomato; */
    animation: textMove 2.5s ease-in 5ms;
}
.mySlider .content .text-3 {
    /* border: 1px solid tomato; */
    animation: textMove 3.5s ease-in 50ms;
}

.sliderBtn-left,
.sliderBtn-right {
    /* border:  2px solid salmon; */
    position: absolute;
    top: 50%;
    font-size: 4rem;
    transform: translate(0, -50%);
    color: #fff;
    cursor: pointer;
    /* padding: 0 0.5em 0; */
}

.sliderBtn-right {
    right: 0;
}

.sliderBtn-left:hover,
.sliderBtn-right:hover {
    color: #b1ec60;
    transition: color 0.1s ease-in-out;

}

.clip-effect {
    width: 100%;
    height: 100%;
    background: #b9ef6e;
    animation: clipEffect 1.3s ease-in-out;
}

@keyframes textMove {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes movePic {
    from {
        transform: scale(1.2, 1.2)
    }
    to {
        transform: scale(1,1)
    }
}

@keyframes clipEffect {
    from {
        clip-path: stroke-box circle(0% at 25% 25%);
    }    
    to {
        clip-path: circle(100% at 25% 25%)
    }
}
