*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    min-height: 100vh;
    max-width: 100%;
} */

.slider {
    /* border:  5px solid black; */
    /* max-width: 100vh; */
    /* min-height: 100vh; */
    /* overflow: hidden; */
    /* max-width: 100%; */
    width: 100%;
    max-height: 100vh;
    /* overflow-y: hidden; */
    position: relative;
}

.mySlider {
    position: relative;
    /* z-index: 1; */
    width: 100%;
    max-height: 100vh;
    display: none;
    overflow: hidden;
    
}

.mySlider::after {
    content: "";
    /* border: 2px solid slateblue; */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* animation: movePic 2s ease-in-out 1s infinite alternate; */
}

.mySlider img {
    /* z-index: -1; */
    max-width: 100%;
    height: 100%;
    transform: scale(1.2, 1.2);
    animation: movePic 20s ease-in-out 3s infinite alternate;
    /* transition: all 5s ease-in; */
}

.mySlider.active {
    display: block;
    /* animation: movePic 1s ease-in-out alternate; */
    /* animation: movePic 2s ease-in-out 3s infinite alternate; */
}

.mySlider .content {
    /* background-color: pink; */
    /* border:  4px solid green; */
    position: absolute;
    top: 35%;
    left: 10%;
    /* transform: translateX(-150%); */
    /* transform: translate(0, -50%); */
    font-size: 20px;
    color: white;
    width: 35%;
    z-index: 99;
    /* animation: fade 3s ease-in; */
    /* opacity: 0; */
}

.mySlider .content .text-1 {
    /* border: 1px solid tomato; */
    animation: textMove 1.5s ease-in;
}
.mySlider .content .text-2 {
    /* border: 1px solid tomato; */
    animation: textMove 2.5s ease-in 5ms;
}
.mySlider .content .text-3 {
    /* border: 1px solid tomato; */
    animation: textMove 3.5s ease-in 50ms;
}

.sliderBtn-left,
.sliderBtn-right {
    /* border:  2px solid salmon; */
    position: absolute;
    top: 50%;
    font-size: 4rem;
    transform: translate(0, -50%);
    color: #fff;
    cursor: pointer;
    /* padding: 0 0.5em 0; */
}

.sliderBtn-right {
    right: 0;
}

.sliderBtn-left:hover,
.sliderBtn-right:hover {
    color: #b1ec60;
    transition: color 0.1s ease-in-out;

}

.clip-effect {
    width: 100%;
    height: 100%;
    background: #b9ef6e;
    animation: clipEffect 1.3s ease-in-out;
}

/* ___________card_______________ */

.wrapper {
    margin:  10rem auto;
    max-width: 1100px;
    width: 100%;
    /* background: linear-gradient(120deg, rgb(123, 186, 119) 0%, rgba(124,226,96,1) 35%, rgba(202,247,140,1) 100%); */
    position: relative;
    padding: 0 22px;
}

.wrapper span.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    line-height: 50px;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    cursor: pointer;
}

.wrapper span:first-child {
    left: -0px;
}

.wrapper span:last-child {
    right: -0px;
}
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow: hidden;
    /* padding: 20px; */
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
  }

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.dragging {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 342px;
    /* border:  2px solid green; */
    border-radius: 10px;
    list-style: none;
    cursor: pointer;
    /* border: 3px inset white; */
    /* box-shadow: 5px 5px 10px rgb(212, 212, 212); */
}

.card h2 {
    font-size: 1.56rem;
    font-weight: bold;
    margin: 0.5em 0;
}

.card span {
    font-size: 1.05rem;
    padding: 0 8px;
    text-align:  justify;
    line-height: 24px;
}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

@keyframes textMove {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes movePic {
    from {
        transform: scale(1.2, 1.2)
    }
    to {
        transform: scale(1,1)
    }
}

@keyframes clipEffect {
    from {
        clip-path: stroke-box circle(25% at 0% 25%);
    }    
    to {
        clip-path: circle(100% at 25% 25%)
    }
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%
    }
}
